.CP-main-container{
    padding: 150px 135px 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.CP-heading{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 50px;
}

.CP-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

.CP-group{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.CP-label{
    color: #464646;
    font-size: 1.1rem;
    font-weight: bold;
}
.CP-password{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.CP-input{
    all: unset;
    outline:rgb(117, 117, 117) solid 1px;
    font-family: 'Inter';
    padding: 12px 20px;
    width: 100%;
    border-radius: 5px;
}
.CP-input:focus{
    outline:rgb(61, 142, 219) solid 2px;
}
.CP-password-toggle{
    position: absolute;
    right: 10px;
}

.CP-error{
    color: red;
}
.CP-button{
    padding: 12px 17px;
    font-weight: 600;
    font-size: 23px;
    color: #ffffff;
    border: none;
    background: #529de2;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s;
    margin-top: 25px;
  }
  
  .CP-button:hover {
    background-color: rgb(61, 142, 219);
  }
  
  .CP-button:active {
    background-color: rgb(87, 140, 187);
  }